<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.s5630213008.socialherb">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">



        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewLoginActivity"
            android:label="@string/title_activity_new_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HerbSearchPActivity"
            android:label="@string/title_activity_herb_search_p"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="br.com.mauker.materialsearchview.searchhistorydatabase"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />

        <activity
            android:name=".HerbSearchCActivity"
            android:label="@string/title_activity_herb_search_c"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiseaseSearchPActivity"
            android:label="@string/title_activity_disease_search_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArticleSearchPActivity"
            android:label="@string/title_activity_article_search_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoSearchPActivity"
            android:label="@string/title_activity_info_search_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HerbDetailPActivity"
            android:label="@string/title_activity_herb_detail_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoDetailActivity"
            android:label="@string/title_activity_info_detail"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".DiseaseDetailPActivity"
            android:label="@string/title_activity_disease_detail_p"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".ArticleDetailPActivity"
            android:label="@string/title_activity_article_detail_p"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".InviteActivity"
            android:label="@string/title_activity_invite"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".MenuCActivity"
            android:label="@string/title_activity_menu_c"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".DiseaseSearchCActivity"
            android:label="@string/title_activity_disease_search_c"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".DiseaseDetailCActivity"
            android:label="@string/title_activity_disease_detail_c"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".ArticleSearchCActivity"
            android:label="@string/title_activity_article_search_c"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".ArticleDeailCActivity"
            android:label="@string/title_activity_article_deail_c"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".HerbDetailCActivity"
            android:label="@string/title_activity_herb_detail_c"
            android:theme="@style/MyMaterialTheme"></activity>
    </application>

</manifest>
